.header {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: $headerHeight;
  background-color: var(--pageHeaderBackgroundColor);
  color: var(--white);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 $sidebarWidth;
  padding: 0 14px;
  height: 100%;
  background-color: var(--sidebarBackgroundColor);
}

.logoLink {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.logoFull {
  max-width: 170px;
  width: 100%;
  height: 52px;
  object-fit: contain;
  object-position: left center;
}

.logo {
  display: none;
  width: 32px;
  height: 32px;
}

.sidebarToggleContainer {
  display: none;
  justify-content: center;
  flex: 0 0 45px;
  margin-right: 14px;
}

.right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.donate {
  composes: link from '~Components/Link/Link.css';

  width: 30px;
  color: var(--themeRed);
  text-align: center;
  line-height: 60px;

  &:hover {
    color: #9c1f30;
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .logoContainer {
    flex: 0 0 60px;
    padding: 0 14px;
  }

  .logoFull {
    display: none;
  }

  .logo {
    display: block;
  }

  .sidebarToggleContainer {
    display: flex;
  }

  .donate {
    display: none;
  }
}
